.color-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-input label {
  margin-right: 10px;
  width: 75px;
}

.color-input label .labelExample {
  color: gray;
}

.color-input .form-control {
  margin-right: 5px;
}

.color-input .hex-input {
  width: 160px;
}

.color-input .rgb-input {
  width: 100px;
}

.color-input button {
  margin-left: 10px;
}

.color-outputs {
  margin-top: 20px;
}

.generated-colors {
  margin-top: 10px;
}

.add-color-btn {
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.explanation pre {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.is-invalid input {
  border-color: red;
}

.is-invalid .form-control {
  border-color: red;
}

.valueInput label {
  margin-right: 5px;
}

.labelExample {
  color: grey;
}

.palette-output {
  margin-right: 50px;
}

.default-colors .color-output-batch {
  width: 1080px;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 270px;
}

.image-upload input {
  margin-bottom: 10px;
}

.image-container {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  height: 300px;
}

.image-upload img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  align-self: flex-start;
}